<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />    
    <add key="ErrorLoggingPath" value="C:\\CashVault\\Logs\\Error" />
    <add key="LoggingPath" value="C:\\CashVault\\Logs" />
    <add key="TraceLoggingPath" value="C:\\CashVault\\Logs\\DebugTrace" />
    <add key="SaveServiceLogToFile" value="0" />
    <add key="MinimumPayoutAmount" value="20000"/>
    <add key="ClearConsoleAfterBGWorkerComplete" value="1" />
    
    <!--Global Merchant Messaging Parameters  -->
    <add key="EmailVaultCodeSubject" value="Delivery Code" />
    <add key="VaultCodeSMSTemplete" value="Your Vault Code is {0} for purchase - {1} on {2}. Amount: {3}. Initiated on {4} website" />
    <add key="VaultCodeEmailTemplete" value="Dear {0}, Your Vault Code is {1} for transaction - {2} on {3}. Amount: {4}. Initiated on {5} website" />
    <add key="VaultCodeEmailHTMLTemplete" value="c:\\Cashvault\\Contents\\Vault_code_reciept.html" />

    <add key="EmailDispatchSubject" value="Order Confirmation" />
    <add key="DispatchEmailTemplete" value="Dear {0}, - {1} {2} {3}" />
    <add key="DispatchEmailHTMLTemplete" value="c:\\Cashvault\\Contents\\Dispatch_confirmation.html" />

    <add key="AggregatorMerchantEmailHTMLTemplete" value="c:\\Cashvault\\Contents\\Aggregator_Merchant_Template.html" />
    <add key="AggregatorEmailHTMLTemplete" value="c:\\Cashvault\\Contents\\Aggregator_Template.html" />
    <add key="BusinessOwnerEmailHTMLTemplete" value="c:\\Cashvault\\Contents\\Business_Owner_Template.html" />
    <add key="MerchantEmailHTMLTemplete" value="c:\\Cashvault\\Contents\\Merchant_Template.html" />
    <add key="MerchantUserEmailHTMLTemplete" value="c:\\Cashvault\\Contents\\Merchant_User_Template.html" />
    <add key="MerchantPasswordResetEmailHTMLTemplete" value="c:\\Cashvault\\Contents\\Merchant_User_Template.html" />

    <!--Customer Messaging Parameters  -->
    <add key="Cust-FemaleSignUpTemplate" value="c:\\Cashvault\\Contents\\customer-signup-female.html" />
    <add key="Cust-MaleSignUpTemplate" value="c:\\Cashvault\\Contents\\customer-signup-male.html" />
    <add key="UserPasswordResetTemplate" value="c:\\Cashvault\\Contents\\user-forgotten-pwd.html" />
    <add key="UserMessageTemplate" value="c:\\Cashvault\\Contents\\ticket-mobile-app.html" />
    <add key="UserNotificationTemplate" value="c:\\Cashvault\\Contents\\ticket-user-mobile.html" />
    <add key="STCustomerCodeDispense" value="c:\\Cashvault\\Contents\\ST-Release-code-receipt.html" />
    <add key="STMerchantorder" value="c:\\Cashvault\\Contents\\ST-Order-confirmation.html" />

    <!--Interswitch Services Parameters  -->
    <add key="DigitalCertificateFile" value="C:\\Cashvault\\CashVault.cer" />
    <add key="CustomerReferenceAlternate" value="6280512301121383033" />
    <add key="MerchantReference" value="6209" />

    <add key="FTTestCodePrefix" value="1357" />
    <add key="QTTestEntityCode" value="SFL" />
    <add key="FTCodePrefix" value="1357" />
    <add key="QTEntityCode" value="SFL" />
    
    <add key="FTCodeLength" value="12" />
    <add key="QTServiceLiveURL" value="https://orion.interswitchng.com/quicktellerservice/quickteller.svc" />
    <!-- 
    <add key="QTServiceTestURL" value="https://stageserv.interswitchng.com/uat_quicktellerservice/quickteller.svc" /> 
    -->

    <add key="QTServiceTestURL" value="http://testservices.interswitchng.com/quicktellerservice/quickteller.svc" />
    <add key="QTServiceMode" value="TEST" />

    <!-- Test Server Settings
    <add key="NaneInqueryServiceUrl" value=" https://sandbox.interswitchng.com/api/v1/nameenquiry/banks/" />	
    <add key="InterswitchDeveloperClientId" value="IKIA0504C9477566DD3121E03CD6B91895B3130A8FC2" />
    <add key="InterswitchDeveloperClientSecretKey" value="au0VOyt4EIhPqdNSiQ3pZGhSSchB2nUab6XDulchSf4=" />
    -->
    <add key="NameInqueryServiceUrl" value=" https://saturn.interswitchng.com/api/v1/nameenquiry/banks/" />
    <add key="InterswitchDeveloperClientId" value="IKIA411180F394807D4F42FB0268D51FA8A57A607EF7" />
    <add key="InterswitchDeveloperClientSecretKey" value="Y0CqW0APk4oBFd5uJmbxYchqLuTqYqjUkEZ4Rl4cfa8=" />

    <!-- Messaging Services Parameters -->
    <add key="EmailHost" value="smtp.mandrillapp.com" />
    <add key="EmailUser" value="noreply@cashvaultng.com" />
    <add key="EmailPassword" value="Y2d9S4-FpD_6SFMhIeLibQ" />
    <add key="EmailPort" value="587" />
    <add key="EmailFrom" value="noreply@cashvaultng.com" />
    <add key="EmailFromName" value="Cashvault" />

    <add key="SendGridAPIKey" value="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" />

    <add key="SMSURL" value="https://api.infobip.com/sms/1/text/single" />
    <add key="SMSUser" value=" " />
    <add key="SMSPassword" value=" " />
    <add key="SMSAuthorization" value="Basic  YWV6ZWFkaWVidW86Z3JlYXRuZXNzMjM0MSM=" />
    <add key="SMSSender" value="Cashvault" />
    <add key="BulkSMSNigeriaURL" value="https://www.bulksmsnigeria.com/api/v1/sms/create?api_token=do7u4VganXeatRc5DwSP2WlWMQEJxgZSX3zhZ7nR2ztRm4p7BGorYgPytbDN" />
    <add key="BulkSMSNigeriaDND" value="2" />
    <add key="IsLiveApplication" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="CvdbEntities" connectionString="metadata=res://*/Data.CashVault.csdl|res://*/Data.CashVault.ssdl|res://*/Data.CashVault.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=cvdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="CvdbEntities" connectionString="metadata=res://*/Data.CashVault.csdl|res://*/Data.CashVault.ssdl|res://*/Data.CashVault.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.150.178.243,32950;Initial Catalog=cvdb;Persist Security Info=True;User ID=SOAPService;Password=@SOAP@Service@456!&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
	  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
			<serviceCredentials>
				<
			</serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="HelpBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	  <bindings>
		  <webHttpBinding>
			  <binding name="secured">
				  <security mode="TransportCredentialOnly">
					  
				  </security> 
			  </binding>
		  </webHttpBinding>
	  </bindings>
    <services>
		<service behaviorConfiguration="DefaultServiceBehavior" name="CashVaultService.Operations.CashVault">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8080/api"/>
				</baseAddresses>
			</host>
			<endpoint address="/cash-vault" binding="webHttpBinding" behaviorConfiguration="HelpBehavior" contract="CashVaultService.Operations.ICashVaultService" />
		</service>
		<service behaviorConfiguration="DefaultServiceBehavior" name="CashVaultService.Operations.Reservation">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8080/api"/>
				</baseAddresses>
			</host>
			<endpoint address="/reservation" binding="webHttpBinding" behaviorConfiguration="HelpBehavior" contract="CashVaultService.Operations.IReservationService" />
		</service>
	</services>
    <diagnostics>
      <messageLogging logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="false" logMalformedMessages="true" logEntireMessage="true"
                      maxSizeOfMessageToLog="65535000" maxMessagesToLog="500" />
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<!--  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Error, Warning, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->

</configuration>
