<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="StartImage" value="C:\\staging.cashvaultng.com\\Images\\start.png" />
    <add key="StopImage" value="C:\\staging.cashvaultng.com\\Images\\stop.png" />
    <add key="ServiceRefreshInterval" value="1000" />
    <add key="ErrorLoggingPath" value="C:\\staging.cashvaultng.com\\Logs\\Error" />
    <add key="LoggingPath" value="C:\\staging.cashvaultng.com\\Logs" />
    <add key="TraceLoggingPath" value="C:\\staging.cashvaultng.com\\Logs\\DebugTrace" />
    <add key="SaveServiceLogToFile" value="0" />
    <add key="ClearConsoleAfterBGWorkerComplete" value="1" />
    <add key="BGServiceBatchSize" value="100" />
    <add key="CUSTOMER_REVERSALFTCodePrefix" value="4" />
    <add key="MERCHANT_REFUNDFTCodePrefix" value="5" />
    <add key="DISBURSEMENT_FTCodePrefix" value="6" />
    <add key="CustomerReversalBatchSize" value="10" />
    <add key="MerchantRefundBatchSize" value="1" />
    <add key="DisbursementBatchSize" value="5" />
    <add key="VaultCodeNumbers" value="123456789" />
    <add key="VaultCodeLength" value="6" />
    <add key="FundsTransferCost" value="65" />

    <add key="EmailVaultCodeSubject" value="Vault Code" />
    <add key="VaultCodeSMSTemplete" value="Your Vault Code is {0} for purchase - {1} on {2}. Amount: {3}. Initiated on {4} website" />
    <add key="VaultCodeEmailTemplete" value="Dear {0}, Your Vault Code is {1} for transaction - {2} on {3}. Amount: {4}. Initiated on {5} website" />
    <add key="VaultCodeEmailHTMLTemplete" value="c:\\staging.cashvaultng.com\\Contents\\Vault_code_reciept.html" />

    <add key="EmailDispatchSubject" value="Order Confirmation" />
    <add key="DispatchEmailTemplete" value="Dear {0}, - {1} {2} {3}" />
    <add key="DispatchEmailHTMLTemplete" value="c:\\staging.cashvaultng.com\\Contents\\Dispatch_confirmation.html" />

    <add key="AggregatorMerchantEmailHTMLTemplete" value="c:\\api.cashvaultng.com\\Contents\\Aggregator_Merchant_Template.html" />
    <add key="AggregatorEmailHTMLTemplete" value="c:\\api.cashvaultng.com\\Contents\\Aggregator_Template.html" />
    <add key="BusinessOwnerEmailHTMLTemplete" value="c:\\api.cashvaultng.com\\Contents\\Business_Owner_Template.html" />

    <!--Interswitch Services Parameters  -->
    <add key="DigitalCertificateFile" value="C:\\staging.cashvaultng.com\\Contents\\CashVault.cer" />
    <add key="CustomerReferenceAlternate" value="6280512301121383033" />
    <add key="MerchantReference" value="6209" />

    <add key="FTTestCodePrefix" value="1319" />
    <add key="QTTestEntityCode" value="SFL" />
    <add key="FTCodePrefix" value="1319" />
    <add key="QTEntityCode" value="SFL" />
    <!-- 
	  <add key="FTCodePrefix" value="1319" />
    <add key="QTEntityCode" value="SFO" />
	  -->
    <add key="FTCodeLength" value="12" />
    <add key="QTServiceLiveURL" value="https://orion.interswitchng.com/quicktellerservice/quickteller.svc" />
    <!-- 
    <add key="QTServiceTestURL" value="https://stageserv.interswitchng.com/uat_quicktellerservice/quickteller.svc" /> 
    -->
    <add key="QTServiceTestURL" value="http://testservices.interswitchng.com/quicktellerservice/quickteller.svc" />
    <add key="QTServiceMode" value="TEST" />

    <!-- Test Server Settings-->
    <add key="NaneInqueryServiceUrl" value=" https://sandbox.interswitchng.com/api/v1/nameenquiry/banks/" />
    <add key="InterswitchDeveloperClientId" value="IKIA0504C9477566DD3121E03CD6B91895B3130A8FC2" />
    <add key="InterswitchDeveloperClientSecretKey" value="au0VOyt4EIhPqdNSiQ3pZGhSSchB2nUab6XDulchSf4=" />
    <!--     
    <add key="NaneInqueryServiceUrl" value=" https://saturn.interswitchng.com/api/v1/nameenquiry/banks/" />
    <add key="InterswitchDeveloperClientId" value="IKIA411180F394807D4F42FB0268D51FA8A57A607EF7" />
    <add key="InterswitchDeveloperClientSecretKey" value="Y0CqW0APk4oBFd5uJmbxYchqLuTqYqjUkEZ4Rl4cfa8=" />
-->

    <!-- Messaging Services Parameters -->
    <add key="EmailHost" value="smtp.mandrillapp.com" />
    <add key="EmailUser" value="noreply@cashvaultng.com" />
    <add key="EmailPassword" value="Y2d9S4-FpD_6SFMhIeLibQ" />
    <add key="EmailPort" value="587" />
    <add key="EmailFrom" value="noreply@cashvaultng.com" />
    <add key="EmailFromName" value="Cash Vault" />

    <add key="SendGridAPIKey" value="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" />

    <add key="SMSURL" value="https://api.infobip.com/sms/1/text/single" />
    <add key="SMSUser" value="aezeadiebuo" />
    <add key="SMSPassword" value="greatness2341#" />
    <add key="SMSAuthorization" value="Basic  YWV6ZWFkaWVidW86Z3JlYXRuZXNzMjM0MSM=" />
    <add key="SMSSender" value="CashVault" />
    <add key="BulkSMSNigeriaURL" value="https://www.bulksmsnigeria.com/api/v1/sms/create?api_token=do7u4VganXeatRc5DwSP2WlWMQEJxgZSX3zhZ7nR2ztRm4p7BGorYgPytbDN" />
    
    <add key="MinimumPayoutAmount" value="20000"/>
    <add key="IsLiveApplication" value="false" />
  </appSettings>
  
  <connectionStrings>
    <add name="CvdbEntities" 
         connectionString="metadata=res://*/Data.CashVault.csdl|res://*/Data.CashVault.ssdl|res://*/Data.CashVault.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=64.150.178.243\SQLEXPRESS;Initial Catalog=cvdb;Persist Security Info=True;User ID=sa;Password=P@ssw0rd@123;MultipleActiveResultSets=True&quot;" 
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.serviceModel xdt:Transform="Replace">
    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RESTEndPointBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>

      <service behaviorConfiguration="DefaultServiceBehavior" name="CashVaultService.CVSoapRestService">
        <endpoint address="SOAP" binding="basicHttpBinding" contract="CashVaultService.ICVSoapRestService" />
        <endpoint address="REST" binding="webHttpBinding" behaviorConfiguration="RESTEndPointBehavior" contract="CashVaultService.ICVSoapRestService" />
        <!-- Add reference to secure WebHttpBinding config -->
        <endpoint address="REST" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" behaviorConfiguration="RESTEndPointBehavior" contract="CashVaultService.ICVSoapRestService" />
      </service>

      <service behaviorConfiguration="DefaultServiceBehavior" name="CashVaultService.CVMerchantServices">
        <endpoint address="SOAP" binding="basicHttpBinding" contract="CashVaultService.ICVMerchantServices" />
        <endpoint address="REST" binding="webHttpBinding" behaviorConfiguration="RESTEndPointBehavior" contract="CashVaultService.ICVMerchantServices" />

        <!-- Add reference to secure WebHttpBinding config -->
        <endpoint address="REST" binding="webHttpBinding" bindingConfiguration="webHttpTransportSecurity" behaviorConfiguration="RESTEndPointBehavior" contract="CashVaultService.ICVMerchantServices" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
